
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span> Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div class="card">
    <span>Pretups Details Page</span>  
  </div>

  <h2>                                  </h2>
  <h2>                                  </h2>
  <h2>                                  </h2>
  <h2>                                  </h2>
  <div class="newcard">
    <span>Select Database</span>  
  </div>

  <h2>                                  </h2>

  <div class="dropdown-format">
    <select name="dropdown" >
      <option selected="selected" value="one">Development - Oracle</option>
      <option value="two">Development - PG</option>
      <option value="three">Development Demo - PG</option>
      <option value="four">Development Demo - Oracle</option>
      </select>
  </div>
  
  <h2>                                  </h2>

  <div class="example-button-row">
    <a mat-raised-button href="https://www.google.com/" target="_blank">Proceed</a>
  </div>


  
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
